/*Theme color*/
$primary-color-1: #F8C301;
$primary-color-2: #85C226;     
$primary-color-3: #0093DD;
$primary-color-4: #DA251C;

#playGround {
    position: relative;
    margin: 100px 50px;
}
#main{
  margin: auto;
  margin-top: 5vh;
  width: 96vmin;
  height: 96vmin;
  background-color: transparent;
  padding: 2vmin;
  border: 1vmin solid #ccc;
}
.panelStyle{
	width:28vmin;
	height:28vmin;
	margin:auto;
	margin-top:4vmin;
	background-color: white
}
.a{
  float:left;
  width:6vmin;
  height:6vmin;
  position: static;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.09);
}
button{
  margin: 5px;
}
.class >div{
position: absolute;

}
#top .a:nth-child(3n+2){
  background-color:$primary-color-1;
}
#top .a:nth-child(6){
  background-color:$primary-color-1;
}
#top .a:nth-child(2){
  background-color: #FFFFFF;
}


#bottom .a:nth-child(3n+2){
  background-color:$primary-color-4;
}
#bottom .a:nth-child(13){
  background-color:$primary-color-4;
}
#bottom .a:nth-child(17){
  background-color: #FFFFFF;
}

#left .diff:first-child .a:nth-child(2){
  background-color:$primary-color-2; 
}
#left div:not(.diff) .a{
  background-color:$primary-color-2; 
}
#left div:not(.diff) .a:first-child{
  background-color:#FFFFFF;  
}


#right div:nth-child(2) .a:last-child{
  background-color:#FFFFFF; 
}
#right div:not(.diff) .a{
  background-color:$primary-color-3; 
}
#right div:last-child .a:nth-child(5){
  background-color:$primary-color-3;  
}


button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 3px 3px 4px black;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; color: black; 
    transition:transform , box-shadow 3s linear ;
}
input {
    width:35px;
    height:30px;
    text-align: center;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #555;
}
button:hover{
  transform: scale(.95);
  box-shadow: 1px 1px 1px black;
}

#main >div{
  float:left;
}
.circle{
  box-sizing: border-box;
  text-align :center;
  margin:auto;
  margin-top:20%;
  background-color: black;
border-radius: 50%;
  height:60%;
  width:60%;
  box-shadow: 2px 2px 4px black;
  border:2px solid black ;
}
#sw,#nw,#ne, #se{
  width:36vmin;
  height:36vmin;
  box-sizing: border-box;
  border:black solid .3vmin;
}
#sw>div>div>div,#nw>div>div>div,#ne>div>div>div, #se>div>div>div{
  @extend .circle;
  margin-top:18%;
}
#sw>div>div,#nw>div>div,#ne>div>div, #se>div>div{
float:left;width:6.5vmin;height:6.5vmin;
margin:3.6vmin 3.6vmin 3.6vmin;
}
#sw>div,#nw>div,#ne>div, #se>div{
box-sizing: border-box;
  border:black solid .3vmin;
}
#sw,#sw>div>div,#sw>div>div>div{
  background-color: $primary-color-4;
}
#nw,#nw>div>div,#nw>div>div>div{
  background-color: $primary-color-2;

}

#se,#se>div>div>div,#se>div>div{
   background-color: $primary-color-3;

}
#ne,#ne>div>div,#ne>div>div>div{
    background-color: $primary-color-1;

}
#cen{
  width:18vmin;
  height:18vmin;
  background-color: white;  
  background-size: cover;
  position: relative;
  .left{
    width: 0px;
    height: 0px;    
    border-top: solid 9vmin transparent;
    border-left: solid 9vmin $primary-color-2;
    border-bottom: solid 9vmin transparent;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .right{
    width: 0px;
    height: 0px;
    border-right: solid 9vmin $primary-color-3;
    border-top: solid 9vmin transparent;
    border-bottom: solid 9vmin transparent;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .bottom{
    width: 0px;
    height: 0px;
    border-bottom: solid 9vmin $primary-color-4;
    border-left: solid 9vmin transparent;
    border-right: solid 9vmin transparent;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .top{
    width: 0px;
    height: 0px;
    border-top: solid 9vmin $primary-color-1;
    border-left: solid 9vmin transparent;
    border-right: solid 9vmin transparent;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
#top{
  width:18vmin;
  height:36vmin;
  background-color:white;
}
#bottom{
  width:18vmin;
  height:36vmin;
  background-color:white;
}
#right{
  height:18vmin;
  width:36vmin;
  background-color:white;
}
#left{
  height:18vmin;
  width:36vmin;
  background-color:white;
}
