.game-type-wrapper{
	margin : 50px;
	.label{
		color: #666;
		margin-bottom: 50px;
		text-align: center;
		font-weight: 600;
	}
	.game-type{
		border: 1px solid #ccc;
	    display: inline-block;
	    width: 200px;
	    height: 200px;
	    text-align: center;
	    line-height: 200px;
	    cursor: pointer;
	    &:hover{
	    	background-color : #efefef;
	    }
	    &.active{
	    	background-color : #efefef;
	    }
	}
}